<template>
  <div class="columns is-desktop" style="background-color:#fff">
    <div class="column">
          <div class="level is-hidden-desktop is-marginless is-paddingless">
            <ul class="level-item ">
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid red; padding:4px;" >
                <input type="checkbox" v-model="kmlLayers[0].show">
                Traffic Free
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid blue; padding:4px">
                <input type="checkbox" v-model="kmlLayers[1].show">
                On Road
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid yellow; padding:4px">
                <input type="checkbox" v-model="kmlLayers[2].show">
                Walking
              </label>
            </li>
            </ul>
            <br/>
            <ul class="level-item ">
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid green; padding:4px">
                <input type="checkbox" v-model="kmlLayers[3].show">
                Recommended
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid black; padding:4px">
                <input type="checkbox" v-model="kmlLayers[4].show">
                Schools
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid purple; padding:4px">
                <input type="checkbox" v-model="kmlLayers[5].show">
                Community
              </label>
            </li>
          </ul>
          </div>
          <ul class="flex-container is-hidden-touch ">
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid red; padding:4px;" >
                <input type="checkbox" v-model="kmlLayers[0].show">
                Traffic Free
              </label>
            </li>
            <li>

              <label class="checkbox is-size-7-desktop" style="border: 2px solid blue; padding:4px">
                <input type="checkbox" v-model="kmlLayers[1].show">
                On Road
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid yellow; padding:4px">
                <input type="checkbox" v-model="kmlLayers[2].show">
                Walking
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid green; padding:4px">
                <input type="checkbox" v-model="kmlLayers[3].show">
                Recommended
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid black; padding:4px">
                <input type="checkbox" v-model="kmlLayers[4].show">
                Schools
              </label>
            </li>
            <li>
              <label class="checkbox is-size-7-desktop" style="border: 2px solid purple; padding:4px">
                <input type="checkbox" v-model="kmlLayers[5].show">
                Community
              </label>
            </li>
          </ul>

    </div>
    <div class="column is-10-desktop is-12-touch">
      <app-map :kmlLayers="kmlLayers" ></app-map>
    </div>
  </div>
</template>

<script>
  import Map from './Map.vue';

  export default {
    components: {
      'app-map': Map
       },
    data () {
      return {
        kmlLayers: [
        {
          show: true
        },
        {
          show: true
        },
        {
          show: true
        },
        {
          show: true
        },
        {
          show: true
        },
        {
          show: true
        }
        ]
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #icon-up{
    vertical-align:middle;
  }
.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > li {
  text-align: left;
  line-height: 75px;
}

</style>
