
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        News
      </h1>
    </div>
  </div>
</section>
<table class="table">
<%= for post <- @posts do %>
    <tr>
      <td><%= post.title %></td>
      <td><%= raw post.body %></td>
      <%= if @current_user do %>

      <td class="text-right">
        <span><%= link "Show", to: post_path(@conn, :show, post), class: "button is-link" %></span>
        <span><%= link "Edit", to: post_path(@conn, :edit, post), class: "button is-success" %></span>
        <span><%= link "Delete", to: post_path(@conn, :delete, post), method: :delete, data: [confirm: "Are you sure?"], class: "button is-danger" %></span>
      </td>
      <% else %>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
<%= if @current_user do %>

<span><%= link "New Post", to: post_path(@conn, :new) , class: "button is-danger is-outlined is-large"%></span>
<% else %>
<% end %>
