
<ul>

  <li>
    <strong><%= @post.title %></strong>
  </li>
  <div class="columns">
    <div class="column">
        <%= raw @post.body %>
    </div>
    <div class="column">
      <img src="<%= Alibaba.Image.url({ @post.image, @post }) %>"  />
    </div>
  </div>


  <li>
    <%= Timex.to_date(@post.time_of)  %>

  </li>


</ul>
<%= if @current_user do %>
<span><%= link "Edit", to: post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: post_path(@conn, :index) %></span>
<% else %>
<span><%= link "Back", to: page_path(@conn, :index) %></span>

<% end %>
