<template>
  <div class="columns is-desktop">
    <div class="column">
      <img src="/images/footer1.jpg" alt="Smarter Places, Smarter Choices" >
    </div>
    <div class="column">
      <img src="/images/footer2.png" alt="Climate Challenge Fund" >
    </div>
    <div class="column">
      <img src="/images/footer3.png" alt="Scottish Government" >
    </div>
    <div class="column">
      <img src="/images/footer4.png" alt="Inverclyde Community Development Trust + Inverclyde Council" >
    </div>
  </div>
</template>

