<template>
  <header >
    <nav class="navbar is-fixed-top is-link">
  <div class="navbar-brand" >
    <a class="navbar-item" href="/">
      <img src="/images/logo.png" alt="Community Tracks Inverclyde" >
    </a>

    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>


  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <!-- navbar items -->
    </div>

    <div class="navbar-end">
        <a class="navbar-item" href="/about">
          About
        </a>
        <a class="navbar-item" href="/contact">
          Contact
        </a>
        <a class="navbar-item" href="/bikes">
          Bike Workshop
        </a>
        <a class="navbar-item" href="/activities">
          Activities
        </a>

      </div>
    </div>

</nav>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 id="main-heading" class="is-size-4-desktop has-text-centered">
        Community Tracks is an active travel hub that supports walking and cycling in Inverclyde
      </h2>
    </div>
  </div>
</section>
  </header>
</template>
<style scoped>


</style>
<script>
</script>
<style>
#main-heading{
  padding-top: 20px;
  font-weight: 700;
}
</style>
