<div class="hello">
    <h3 class="is-size-4 has-text-black">About Us</h3>
    <div class="ma-3">
      <p>Community Tracks Inverclyde will establish an active travel hub within Inverclyde, supporting and encouraging local people to make more journeys by bike or by foot.   Community Tracks Inverclyde is a project hosted by Inverclyde Community Development Trust jointly funded by The Climate Challenge Fund, part of Keep Scotland Beautiful, and by Smarter Places Smarter Choices in association with Paths for All and Inverclyde Council.</p>
      <p>Broadly, the project aims are to:</p>
      <ul>
        <li>Reduce waste/Reduce CO2 emission&#39;s</li>
        <li>Develop skills</li>
        <li>Promote social inclusion</li>
        <li>Enhance Employability through developing skills</li>
      </ul>
      <br>
      <p>These objectives will be achieved by:</p>
      <ul  >
        <li>Recycling bikes from landfill into the community</li>
        <li>Teaching cycle maintenance classes including educational and industry recognised qualifications</li>
        <li>Fix-your-own-bike workshops</li>
        <li>Cycle training and riding confidence sessions</li>
        <li>Cycle tours and guided rides within the local area and community</li>
      </ul>
    </div>
    <p><a href="https://www.dropbox.com/sh/ik9w6yaz0lywj7q/AAD73b9vQgfG7iLDgTdaVdlga?dl=0" target="_blank">Please click here for photos, logos and a summary of the project to download</a></p>
    <div class="columns">
      <div class="column">
      <br>
    <h3 class="is-size-5 has-text-black">Steering Groups</h3>
          <p class="is-size-6 has-text-black ">Steering Group Aims</p>
          <p>• To provide a forum for the local community and local organisations to be involved in the project, so the community continues to have the ownership of the project and to ensure the activities being delivered are in line with the needs of the community.<br/> • To bring input from national cycling organisations into a community setting and keep the project informed about best practices and successful strategies learned from other areas and projects.</p>
          <p class="is-size-6 has-text-black ">Current steering group organisations</p>
          <ul>
            <li>Inverclyde Council</li>
            <li>Inverclyde Community Development Trust</li>
            <li>Cycling UK</li>
            <li>Belles on Bikes Inverclyde</li>
            <li>Cycle Activity Bikes</li>
            <li>Canny Cycling</li>
            <li>Clyde Muirsheil Regional Park</li>
            <li>Police Scotland</li>
          </ul>
          <br/>
           <p class="is-size-6 has-text-black ">Approved steering group meeting minutes</p>
          <ul>
            <li><a href="https://s3.eu-west-2.amazonaws.com/comtracks/Community+Tracks+Inverclyde+steering+group+meeting+1+11.7.2017.pdf" target="_blank">11th July 2017</a></li>
            <li><a href="https://s3.eu-west-2.amazonaws.com/comtracks/Community+Tracks+Inverclyde+Steering+Group+minutes+22.8.2017+-+website.docx.pdf" target="_blank">22nd August 2017</a></li>
            <li><a href="https://s3.eu-west-2.amazonaws.com/comtracks/Inverclyde+Active+Travel++Steering+Group+Meeting+18.9.2017.pdf" target="_blank">18th September 2017</a></li>
          </ul>
          <br>
          <h3 class="is-size-5 has-text-black">  <a href="https://s3.eu-west-2.amazonaws.com/comtracks/Privacy+and+cookie+policy+template.pdf">Privacy and cookie policy</a></h3>

      </div>

      <div class="column">
          <img src="https://s3.eu-west-2.amazonaws.com/comtracks/photos/5004982_524e58a8.jpg" width="400px">
      </div>
    </div>
</div>
