      <div class="columns">
        <div class="column">
          <p>
            <h3 class="is-size-4 has-text-black">Bike Workshop</h3>
          </p>  
          <h3 class="is-size-5 has-text-black">Donate your old bikes</h3>
          <p>Do you have old bike you can donate to our project? Bike that are donated will be restored by volunteers and given to local schools for children who don’t have bikes themselves.</p>
          <a href="/contact">Please get in touch if you can donate a bike</a>
        </div>
        <div class="column ">
          <img src="/images/bikes.jpg" />
        </div>
     </div>

 
