<div class="columns is-marginless ">
  <div class="column  is-3 is-marginless is-paddingless">
    <nav class="panel "style="padding-left: 10px;padding-bottom: 10px">
      <p class="panel-heading has-text-weight-bold has-background-white">
        News
      </p>
      <%= for post <- @posts do %>

          <%= link post.title, to: post_path(@conn, :show, post), class: " panel-block"  %>

      <% end %>
      <a class="twitter-timeline" data-height="239" href="https://twitter.com/CTInverclyde?ref_src=twsrc%5Etfw">Tweets by CTInverclyde</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </nav>
  </div>
  <div class="column  is-marginless is-fullwidth">
    <div id="app"></div>
  </div>
</div>
