<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Phauxth - an extensible authentication library for Elixir web apps</title>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700|Material+Icons' rel="stylesheet"></link>
    <link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css" ></link>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>


  </head>

  <body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
            <%= if @current_user do %>
            <a class="navbar-item" href="<%= user_path(@conn, :show, @current_user.id) %>"><%= @current_user.email %></a>
          

            <%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete %>
            <% else %>

            <% end %>

    </div>
  </nav>

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">

            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

            <main role="main">
              <%= render @view_module, @view_template, assigns %>
            </main>
        </div>
      </div>
    </div> <!-- /container -->
    </section>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
