<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Community Tracks Inverclyde - Active Track, Walking & Cycling</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700|Material+Icons' rel="stylesheet"></link>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-106870652-1', 'auto');
    ga('set', 'anonymizeIP', true);
    ga('send', 'pageview');
    </script>


  </head>

  <body>
    <div id="header"></div>
    <div class="container is-fluid">

      <div class="columns ">
        <div class="column is-9">
          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
          <div class="column is-3 ">
            <div id="fb-root"></div>
              <div class="fb-page" data-href="https://www.facebook.com/CommunityTracksInverclyde/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/CommunityTracksInverclyde/" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/CommunityTracksInverclyde/" target='_top'>Community Tracks Inverclyde</a>
                </blockquote>
              </div>
            </div>
      </div>

      <div id="footer"></div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </body>
</html>
