<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Community Tracks - Admin</title>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700|Material+Icons' rel="stylesheet"></link>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <a class="navbar-item" href="/posts">
        News
      </a>
      <a class="navbar-item" href="/limlax2w3b3svt7m5g4a/events">
        Events
      </a>

    </div>

      <div class="navbar-end"
            <%= if @current_user do %>
            <a class="navbar-item" href="<%= user_path(@conn, :show, @current_user.id) %>"><%= @current_user.email %></a>
            <%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete %>
            <% else %>

            <% end %>
      </div>
  </nav>


      </div>
    </div>


            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

            <main role="main">
              <%= render @view_module, @view_template, assigns %>
            </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
