<template>
  <div>
    <div class="columns" v-if="items1 && items1.length">
      <div class="column" v-for="(item,index) of items1">
        <div class="card box">
          <div class="content">
            <p><strong>{{item.name}}</strong></p>
            <p><time datetime="2016-1-1">{{ item.time_of | moment("dddd, MMMM Do") }}</time></p>
            <p><time datetime="2016-1-1">{{ item.time_of | moment("h:mm a") }}</time></p>
            <p class="is-size-7-desktop"> <strong>{{ item.organisation }} </strong></p>
             <p> <strong><a :href="item.website" class="is-size-6-desktop" style="color:#3366ff;" target="_blank"  >
             More Details</a></strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="columns" v-if="items2 && items2.length">
      <div class="column" v-for="(item,index) of items2">
        <div class="card box">
          <div class="content">
            <p><strong>{{item.name}}</strong></p>
            <p><time datetime="2016-1-1">{{ item.time_of | moment("dddd, MMMM Do") }}</time></p>
            <p><time datetime="2016-1-1">{{ item.time_of | moment("h:mm a") }}</time></p>
            <p class="is-size-7-desktop"> <strong>{{ item.organisation }} </strong></p>
             <p> <strong><a :href="item.website" class="is-size-6-desktop" style="color:#3366ff;" target="_blank"  >
             More Details</a></strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="columns" v-if="items3 && items3.length">
      <div class="column" v-for="(item,index) of items3">
        <div class="card box">
          <div class="content">
            <p><strong>{{item.name}}</strong></p>
            <p><time datetime="2016-1-1">{{ item.time_of | moment("dddd, MMMM Do") }}</time></p>
            <p><time datetime="2016-1-1">{{ item.time_of | moment("h:mm a") }}</time></p>
            <p class="is-size-7-desktop"> <strong>{{ item.organisation }} </strong></p>
             <p> <strong><a :href="item.website" class="is-size-6-desktop" style="color:#3366ff;" target="_blank"  >
             More Details</a></strong></p>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
import moment from 'moment'


export default {
  name: 'Calender',
  methods:{
    isFuture: function (item) {
      return moment().isBefore(item.time_of,moment().toString() )
    }
  },
  data() {
    return {
      items1:[],
      items2:[],
      items3:[],
      futureEvents: []
      }
  },
  // Fetches events when the component is created.
  created() {
    const vm = this;
    axios.get('https://communitytracks.net/directory/events')
    .then(response => {
      // JSON responses are automatically parsed.
      response.data.data.forEach(function(value) {
        if(vm.isFuture(value)){
          vm.futureEvents.push(value)
        }
      })
      vm.items1 = vm.futureEvents.slice(0, 6)
      vm.items2 = vm.futureEvents.slice(6, 12)
      vm.items3 = vm.futureEvents.slice(12, 18)
    })
    .catch(e => {
      this.errors.push(e)
    })
    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/events`)
    //   this.events = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }
}
</script>
<style>
.box{
  padding:10px;
  border: 2px solid yellow;
}
a:hover {
    background-color: yellow;
    color: red;
}


</style>
