<template>
  <div >
    <h3 class="is-size-4 has-text-black">Contacts Us</h3>
    <br/>
    <div class="columns is-desktop">

        <div class=" column card ">
          <div class="card-content">
            <p><strong>Stewart Philips</strong></p>
            <p>Project Coordinator</p>
            <p>01475 553385</p>
            <p class="is-size-7-desktop">{{ email[0] }}</p>
          </div>
        </div>

        <div class=" column card ">
          <div class="card-content">
            <p><strong>Kieran Wild</strong></p>
            <p>Active Travel Officer</p>
            <p>01475 553386</p>
            <p class="is-size-7-desktop">{{ email[1] }}</p>
          </div>
        </div>

        <div class=" column card ">
          <div class="card-content">
            <p><strong>Ian Crighton</strong></p>
            <p>Bicycle Mechanic</p>
            <p>01475 553387</p>
            <p class="is-size-7-desktop">{{ email[2] }}</p>
          </div>
        </div>

        <div class=" column card ">
          <div class="card-content">
            <p><strong>Scott Deveney</strong></p>
            <p>Admin Assistant</p>
            <p>01475 553384</p>
            <p class="is-size-7-desktop">{{ email[3] }}</p>
          </div>
        </div>

      </div>
      <div class="columns is-desktop">
        <div class="card-content">
          <p> Port Glasgow Business & Training Centre </p>
          <p> 46 – 50 Muirshiel Road </p>
          <p> Port Glasgow</p>
          <p> PA14 5XS</p>
          <br>
          <p> Reception - 01475 553377</p>
        </div>
      </div>

  </div>
</template>

<script>
  import { email } from './config.js'

  export default {
    data() {
      return{
        email: email
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
