<template>

    <div class="columns" v-if="items && items.length">
      <div class="column" v-for="(item, index) of items">
          <div class="card box">
            <div class="content">
              <p><strong>{{item.name}}</strong></p>
              <p><time datetime="2016-1-1">{{ item.time_of | moment("dddd, MMMM Do") }}</time></p>
              <p><time datetime="2016-1-1">{{ item.time_of | moment("h:mm a") }}</time></p>
              <p class="is-size-7-desktop"> <strong>{{ item.organisation }} </strong></p>
              <p> <strong><a :href="item.website" class="is-size-6-desktop" style="color:#3366ff;" target="_blank" > More Details</a></strong></p>
          </div>
        </div>
      </div>
    </div>

</template>

<script>

import moment from 'moment'
export default {
  name: 'FrontActivities',
  methods:{
    isFuture: function (item) {
      return moment().isBefore(item.time_of,moment().toString() )
    }
  },
  data() {
    return {
      active: false,
      futureEvents: [],
      items:[],
      errors: []
      }
  },
  // Fetches events when the component is created.
  created() {
    const vm = this;
    axios.get('https://communitytracks.net/directory/events')
    .then(response => {
      // JSON responses are automatically parsed.
      response.data.data.forEach(function(value) {
        console.log(value)
        if(vm.isFuture(value)){
          vm.futureEvents.push(value)
        }
      })
      vm.items = vm.futureEvents.slice(0, 6)

    })
    .catch(e => {
      this.errors.push(e)
    })
    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/events`)
    //   this.events = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }
}
</script>
<style scoped>
.box{
  padding:10px;
  border: 2px solid yellow;
}
a:hover {
    background-color: yellow;
    color: red;
}


</style>
