<template>
    <div>
    <h3 class="headline black--text  ma-3">Steering Group</h3>
    <v-container grid-list-md >
      <v-layout row wrap>
        <v-flex xs12 sm12 md6>
          <p class="subheading black--text ">Steering Group Aims</p>
          <p>• To provide a forum for the local community and local organisations to be involved in the project, so the community continues to have the ownership of the project and to ensure the activities being delivered are in line with the needs of the community.<br/> • To bring input from national cycling organisations into a community setting and keep the project informed about best practices and successful strategies learned from other areas and projects.</p>
          <p class="subheading black--text ">Current steering group organisations</p>
          <ul>
            <li>Inverclyde Council</li>
            <li>Inverclyde Community Development Trust</li>
            <li>Cycling UK</li>
            <li>Belles on Bikes Inverclyde</li>
            <li>Cycle Activity Bikes</li>
            <li>Canny Cycling</li>
            <li>Clyde Muirsheil Regional Park</li>
            <li>Police Scotland</li>
          </ul> 
          <br/>
           <p class="subheading black--text ">Approved steering group meeting minutes</p>
          <ul>
            <li><a href="https://s3.eu-west-2.amazonaws.com/comtracks/Community+Tracks+Inverclyde+steering+group+meeting+1+11.7.2017.pdf" target="_blank">11th July 2017</a></li>
            <li><a href="https://s3.eu-west-2.amazonaws.com/comtracks/Community+Tracks+Inverclyde+Steering+Group+minutes+22.8.2017+-+website.docx.pdf" target="_blank">22nd August 2017</a></li>
            <li><a href="https://s3.eu-west-2.amazonaws.com/comtracks/Inverclyde+Active+Travel++Steering+Group+Meeting+18.9.2017.pdf" target="_blank">18th September 2017</a></li>          
          </ul> 
        </v-flex>
        <v-flex xs12 sm6  md6>
           <div class="text-xs-right hidden-sm-and-down"><img src="https://s3.eu-west-2.amazonaws.com/comtracks/photos/5004982_524e58a8.jpg" width="400px">.</div>
        </v-flex>   
      </v-layout>
    </v-container>
  </div>
</template>
