<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :organisation, class: "control-label" %>
    <%= text_input f, :organisation, class: "form-control" %>
    <%= error_tag f, :organisation %>
  </div>
  
  <div class="form-group">
    <%= label f, :time_of, class: "control-label" %>
    <%= datetime_select f, :time_of, class: "form-control" %>
    <%= error_tag f, :time_of %>
  </div>

  <div class="form-group">
    <%= label f, :website, class: "control-label" %>
    <%= text_input f, :website, class: "form-control" %>
    <%= error_tag f, :website %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
