<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Events
      </h1>
    </div>
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organisation</th>
      <th>When</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.organisation %></td>
      <td><%= event.time_of %></td>
      <td><%= link event.website, to: event.website %></td>
      <td class="text-right">
        <span><%= link "Show", to: event_path(@conn, :show, event), class: "button is-link" %></span>
        <span><%= link "Edit", to: event_path(@conn, :edit, event), class: "button is-info" %></span>
        <span><%= link "Delete", to: event_path(@conn, :delete, event), method: :delete, data: [confirm: "Are you sure?"], class: "button is-danger" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<p><span><%= link "New Event", to: event_path(@conn, :new), class: "button is-danger is-outlined is-large" %></span></p>
