<h2>New Event</h2>
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">

<%= render "form.html", Map.put(assigns, :action, event_path(@conn, :create)) %>

        </div>
      </div>

<span><%= link "Back", to: event_path(@conn, :index) %></span>
